.metrics-page{
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 67px;
  box-sizing: border-box;
  height: calc(100% - 67px);
  width: 100%;
  overflow-y: scroll;
  background-color: var(--theme-1);
  padding-bottom: 100px;

   > div{
    &:first-child{ margin-top: 20px; }
    box-sizing: border-box;
    width: 80%;
    margin-bottom: 20px;
  }

  &::-webkit-scrollbar { width: 7px; }
  &::-webkit-scrollbar-thumb {
    background-color: var(--theme-5);
    border-radius: 7px;
  }
  &::-webkit-scrollbar-track { background-color: var(--theme-3); }
  
  .this-week{
    font-size: 20px;
    padding: 16px 0px;
    margin-top: 16px;
  }

  .graph-title {
    text-align: center;
    margin-top: 40px;
  }

  .bar-graph, .line-graph, .pie-chart { 
    min-height: 300px;
    max-height: 400px;
  }

  .pie-chart > .header { margin-bottom: -30px; }

  .habit{
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border: 3px solid $green-1; //this should be changed to fit the icon/habit
    border-radius: 6px;
    
    .icon{
      height: 30px;
      width: 30px;
    }
    
    p {
      font-size: 15px;
      min-width: 100px;
      padding: 0 20px;
    }

    // .checkboxes holds all toggles button
    .checkboxes {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    // span labels each toggle button
    span {
      position: absolute;
      top: -17px;
    }

    // label is the toggle button
    .toggle-button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      margin-top: 15px;
      transform-origin: 50% 50%;
      transform-style: preserve-3d;
      transition: transform .14s ease;

      &:active {
        transform: rotateX(30deg);
      }

      input {
        display: none;

        &+div {
          border: 3px solid rgba(white, .2);
          border-radius: 50%;
          position: relative;
          width: 29px;
          height: 29px;

          svg {
            fill: none;
            stroke-width: 3.6;
            stroke: white;
            stroke-linecap: round;
            stroke-linejoin: round;
            width: 35px;
            height: 35px;
            display: block;
            position: absolute;
            left: -3px;
            top: -3px;
            right: -3px;
            bottom: -3px;
            z-index: 1;
            stroke-dashoffset: 162.6 - 38;
            stroke-dasharray: 0 162.6 133 (162.6 - 133);
            transition: all .4s ease 0s;
          }

          &:before,
          &:after {
            content: '';
            width: 3px;
            height: 16px;
            background: white;
            position: absolute;
            left: 50%;
            top: 50%;
            border-radius: 5px;
          }

          &:before {
            opacity: 0;
            transform: scale(.3) translate(-50%, -50%) rotate(45deg);
            animation: bounceInBefore .3s linear forwards .3s;
          }

          &:after {
            opacity: 0;
            transform: scale(.3) translate(-50%, -50%) rotate(-45deg);
            animation: bounceInAfter .3s linear forwards .3s;
          }
        }

        &:checked+div {
          svg {
            stroke-dashoffset: 162.6;
            stroke-dasharray: 0 162.6 28 (162.6 - 28);
            transition: all .4s ease .2s;
          }

          &:before {
            opacity: 0;
            transform: scale(.3) translate(-50%, -50%) rotate(45deg);
            animation: bounceInBeforeDont .3s linear forwards 0s;
          }

          &:after {
            opacity: 0;
            transform: scale(.3) translate(-50%, -50%) rotate(-45deg);
            animation: bounceInAfterDont .3s linear forwards 0s;
          }
        }
      }
    }
  }
}

.bar-graph{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-graph{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#no-metrics{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}