.metrics-page{
  height: 100vh;
  width: 100%;
  background-color: #dce3dd;
  padding-top: 67px;
  display: flex;
  flex-direction: column;
  align-items: center;
   > div{
    &:first-child{ margin-top: 20px; }
    border: 1px solid red;
    width: 80%;
    margin-bottom: 20px;
  }
  .header{
    height: 25%;
    .this-week{
      display: flex;
      align-items: center;
      height: 40px;
      border: 1px solid lightgrey;
      border-radius: 4px;
    }
    .habit{
      display: flex;
      align-items: center;
    }
  }
  .bar-graph{
    height: 60%;
  }
  .line-graph{
    height: 60%;
  }
}