.nav-bar {
  display: flex;
  justify-content: flex-end;

  position: absolute;
  top: 0; left: 0; right: 0;
  padding: 15px;
  z-index: 1;

  background-color: $green-1;

   > a, button{
    width: 110px;
    padding: 10px;

    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;

    background-color: $green-0;
    border-radius: 3px;

    transition: all 0.2s;

    &:hover { cursor: pointer; }
    &:hover { background-color: $light-green-4; }
  }
  > a:not(:first-child), > button:not(:first-child)  { margin-left: 20px; }

  > #home-btn {
    position: absolute;
    left: 10px;
    padding: 0;
    background-color: transparent;
    transform: translateY(2px);
    > img { height: 30px; }
    &:hover:not(.visiting) {
      filter: brightness(0.94);
      transform: translateY(0px);
    }
  }
}