#root {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  
  -webkit-user-select: none; // Safari
  -moz-user-select: none; // Firefox
  -ms-user-select: none; // IE10+/Edge
  user-select: none; // Standard
}

#splash {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: $light-green-0;
  > img {
    position: absolute;
    top: calc(50% - 40px); left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
  }
}

#splash > a {
  position: absolute;
  top: calc(50% + 40px); left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 15px;
  font-size: 18px;
  color: white;
  letter-spacing: 2px;
  background-color: $green-0;
  border-radius: 5px;
  box-shadow: 3px 7px 10px $light-green-4;
  transition: all 0.2s;
}

#splash > a:hover {
  cursor: pointer;
  background-color: $green-2;
}