/* Alter top positioning to fit top navbar later */
.app-header {
  // position: relative;
  // top: 67px;
  // background-color: var(--light-green-2);
}

.app-header > button {
  width: inherit;
  height: inherit;
  border-radius: 5px;
  font-size: 75px;
  cursor: pointer;
  color: white;
}