/* Alter top positioning to fit top navbar later */
@import 'variables/colors.scss';

.app-header {
  position: relative;
  top: 67px;
  background-color: var(--light-green-2);
}

.app-header>button {
  width: 30px;
  height: 30px;
  margin: 4px;
  box-sizing: border-box;
  border: 2px solid #6d6c6c;
  border-radius: 3px;
}