.create-task-menu {
  position: relative;
  height: 100vh;
  width: 35vw;
  background-color: white;
  z-index: 101;
  /* place above overlay. overlay is z-index 100 */
  transform: translateX(100vw);
  display: flex;
  flex-direction: column;
  transition: 250ms ease-out
    /* Transition the sidebar */
}

.create-task-menu.active {
  transform: translateX(65vw);
}

.create-task-menu>* {
  padding: 0 16px;
}

.create-task-menu>.form-field {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(201, 201, 201);
  padding: 16px;
}

.create-task-menu label {
  min-width: 40%;
}

.create-task-menu>.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 50px;
}

.create-task-menu input {
  width: 100%;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0 6px;
}

.color-bubble {
  display: inline-block;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin: 8px;
  cursor: pointer;
}

.form-field img {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin: 8px;
  cursor: pointer;
}

.form-submit {
  margin-top: auto;
}

.form-submit>button {
  padding: 12px;
  margin-right: 8px;
  margin-bottom: 12px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  /* make this one standardized unit larger than base size */
}

.days {
  display: flex;
  flex-direction: column;
}