@import "variables/colors";
@import "variables/fonts";
@import "variables/keyframes";
@import "reset";
@import "splash";
@import "nav-bar";
@import "user-form";
@import 'home-page';
@import "./header/app-header";
@import "./header/create-task-menu";
@import 'task';
@import 'habit';
@import 'overlay';

// html, body, #root, #app { height: 100%; overflow: hidden; }
// html, body, #root, #app { height: 100%; }
* { font-family: $secondary-font; }