

.app-header > button:hover{
  color: $dark-green-0;
}

#home-page {
  margin: 100px 60px;
  display: flex;
  flex-direction: column;
  button:not(.open-menu) {
    width: 100px; 
    float: right;
    border: 1px solid black;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
  }
}

