#nav-bar {
  display: flex;
  justify-content: flex-end;

  position: absolute;
  top: 0; left: 0; right: 0;
  padding: 15px;

  background-color: $green-1;
}

#nav-bar > a {
  width: 100px;
  padding: 10px;

  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;

  background-color: $green-0;
  border-radius: 3px;

  transition: all 0.2s;
}

#nav-bar > a:hover {
  cursor: pointer;
  background-color: $light-green-3;
}

#nav-bar > a:last-child { margin-left: 20px; }