#timer {
  text-align: center;
  > div {
    font-size: 20px;
  }
}
#timer-control {
  margin-left: auto; margin-right: auto;
  width: 100px;
  height: 100px;
  > button {
    border: 1px solid black;
    padding: 10px;
  }
}