#nav-bar {
  display: flex;
  justify-content: flex-end;

  position: absolute;
  top: 0; left: 0; right: 0;
  padding: 15px;

  background-color: var(--green-1);
}

#nav-bar > a {
  width: 100px;
  padding: 10px;

  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;

  background-color: var(--green-0);
  border-radius: 3px;

  transition: all 0.2s;
}

#nav-bar > a:hover {
  cursor: pointer;
  background-color: var(--light-green-2);
}

#nav-bar > a:last-child { margin-left: 20px; }