.user-form {
  position: absolute;
  right: 0; bottom: 0;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  padding: 20px;
  background-color: var(--light-green-0);
}

.user-form input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  /* margin-bottom: 10px; */

  font-size: 14px;
  border-radius: 3px;
  border: 1px solid var(--green-0);
}