.user-form-panel {
  position: absolute;
  top: 0; left: 0; bottom: 0;
  right: 45%;
  background-color: var(--light-green-3);
}

.user-form {
  position: absolute;
  top: 0; right: 0; bottom: 0;
  left: 55%;
  background-color: var(--light-green-1);
}

.user-form > form {
  display: flex;
  flex-wrap: wrap;

  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--light-green-0);
  box-shadow: 0px 0px 15px var(--dark-green-0);
  animation: float-in 0.3s;
}

.user-form h1 {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: calc(100% + 25px);
  text-align: center;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 30px;
  color: var(--dark-grey-3);
}

.user-form input {
  box-sizing: border-box;
  width: 300px;
  padding: 10px;
  margin-bottom: 15px;

  font-size: 14px;
  border-radius: 3px;
  border: 1px solid var(--light-green-2);

  transition: border-color 0.1s;
}

.user-form input:focus {
  border-color: var(--dark-green-0);
}

.user-form input[type=submit] {
  margin-bottom: 10px; border: none;
  color: var(--light-grey-0);
  background-color: var(--green-0);
  transition: all 0.2s;
}

.user-form input[type=submit]:hover {
  cursor: pointer;
  background-color: var(--green-1);
}

.user-form p, .user-form a {
  font-size: 12px;
  color: var(--dark-grey-1);
}

.user-form a {
  margin-left: 3px;
}

.user-form a:hover {
  text-decoration: underline;
}