$light-green-0: #ebf0ec;
$light-green-1: #dee4de;
$light-green-2: #dce3dd;
$light-green-3: #bcccbf;
$light-green-4: #acbdaf;
$green-0: #95ab99;
$green-1: #869c8a;
$green-2: #798c7c;
$dark-green-0: #737874;
$dark-green-1: #4b534d;

$light-grey-0: #f6f6f6;
$light-grey-1: #eeeeee;
$light-grey-2: #dfdfdf;
$light-grey-3: #d8d8d8;
$light-grey-4: #cacaca;
$light-grey-5: #b9b8b8;
$grey-0: #a5a4a4;
$grey-1: #999999;
$grey-2: #727272;
$dark-grey-0: #626262;
$dark-grey-1: #505050;
$dark-grey-2: #464646;
$dark-grey-3: #3f3f3f;
$dark-grey-4: #292929;

$red: #d11c1c;
$dark-red: #920505;

:root {
  --color-1: #9c3838;
  --color-2: #c28846;
  --color-3: #ebdf8a;
  --color-4: #91b58d;
  --color-5: #62805e;
  --color-6: #6883b3;
  --color-7: #59667d;
  --color-8: #8b6f96;
  --color-9: #b5b6bd;
  --color-10: #525254;

  // --theme-4: #7f8894;
  // --theme-5: #6c737c;
  // --theme-6: #5e6570;
  // --theme-7: #464a52;
  // --theme-8: #26252b;

  // --theme-1: #eeeeee;
  // --theme-2: #d8d8d8;
  // --theme-3: #cacaca;
  // --theme-4: #c2b4b4;
  // --theme-5: #aa9393;
  // --theme-6: #816969;
  // --theme-7: #706262;
  // --theme-8: #2b2525;
  // --theme-9: #1f1f1f;

  // --theme-1: #eeeeee;
  // --theme-2: #d8d8d8;
  // --theme-3: #cacaca;
  // --theme-4: #e9e8a4;
  // --theme-5: #dddb81;
  // --theme-6: #435a75;
  // --theme-7: #5b7a5b;
  // --theme-8: #25262b;
  // --theme-9: #1f1f1f;

  // --theme-1: #eeeeee;
  // --theme-2: #d8d8d8;
  // --theme-3: #cacaca;
  // --theme-4: #9c9c95;
  // --theme-5: #85857c;
  // --theme-6: #525c53;
  // --theme-7: #574d43;
  // --theme-8: #252b25;
  // --theme-9: #1f1f1f;

  // --theme-1: #eeeeee;
  // --theme-2: #d8d8d8;
  // --theme-3: #cacaca;
  // --theme-4: #dbb7ab;
  // --theme-5: #d39e93;
  // --theme-6: #4a818d;
  // --theme-7: #3f6d77;
  // --theme-8: #252b2b;
  // --theme-9: #1f1f1f;

  // --theme-1: #eeeeee;
  // --theme-2: #d8d8d8;
  // --theme-3: #cacaca;
  // --theme-4: #daccb0;
  // --theme-5: #cab894;
  // --theme-6: #585475;
  // --theme-7: #413d5c;
  // --theme-8: #252b2b;
  // --theme-9: #1f1f1f;
}