#habits {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  height: 132px;
  overflow-y: scroll;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: var(--theme-2);
  scroll-snap-type: y mandatory;

  &::-webkit-scrollbar { width: 7px; }
  &::-webkit-scrollbar-thumb {
    background-color: $grey-0;
    border-radius: 7px;
  }
}

#habits > div {
  border-radius: 5px;
  width: calc(25% - 30px);
  height: 100px;
  margin: 15px;
  color: white;
  background-color: var(--theme-6);
  position: relative;
  scroll-snap-align: center;
}

#habits > div:hover {
  box-shadow: 0 2px 10px $dark-green-0;
}