

.app-header > button:hover{
  color: $dark-green-0;
}

#home-page {
  margin: 100px 60px;
  display: flex;
  flex-direction: column;
}

#button-list {
  height: 5vh;
  border: 1px solid black;
  position: relative;

  > button {
    border: 1px solid black;
    height: inherit;
    width: 200px;
    margin-left: 16px; margin-right: 16px;
    border-radius: 5px;
    background-color: $light-green-3;
    box-shadow: 0 4px 10px $light-green-3;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
  }

  > button:hover {
    box-shadow: 0 2px 10px $dark-green-0;
  }
}

#todo-title {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}