#tasks {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: calc(100vh - 180px);
  overflow-y: scroll;
  border-radius: 5px;
  background-color: $light-grey-3;

  &::-webkit-scrollbar { width: 7px; }
  &::-webkit-scrollbar-thumb {
    background-color: $grey-0;
    border-radius: 7px;
  }

  > .task {
    box-sizing: border-box;
    position: relative;
    height: 200px;
    width: calc(25% - 30px);
    margin: 15px;
    
    background-color: $light-grey-1;
    border: 1px solid $dark-grey-4;
    overflow: hidden;
    border-radius: 5px;

    > .drag-handle { color: white; }
    
    .todo-title {
      position: absolute;
      top: 0; left: 50%;
      transform: translateX(-50%);
      font-size: 14px;
      color: white;
      line-height: 40px; width: 60%; height: 40px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    > .task-icon {
      height: 15px;
      width: 15px;

      position: absolute;
      left: 15px; bottom: 15px;
    }
  }
}

.drag-handle {
  position: relative;
  height: 30px;
  // border-radius: 5px 5px 0 0;
  padding-top: 10px;
  > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
    &:hover { cursor: grab; }
  }
}

.todo-title {
  text-align: center;
  font-size: 16px;
}

.todo-description {
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
  line-height: 15px;
}

.toggle-completed > img {
  height: 30px; width: 30px;
  &:hover { cursor: pointer; }
}

.delete-task, .delete-habit {
  position: absolute;
  top: 7px; right: 7px;
  color: white;
  font-size: 18px;
  height: 25px; width: 25px;
  line-height: 25px;

  &:hover {
    cursor: pointer;
    color: $dark-grey-4;
  }
}

.progress {
  display: flex;
  justify-content: space-evenly;
  width: calc(100% - 50px);
  margin: 0px auto;
  padding: 0px 20px;
  font-size: 16px;
  > .counter-buttons {
    display: flex;
    > button {
      font-size: 16px;
      height: 22px; width: 22px;
      line-height: 20px;
      border: 1px solid black;
      border-radius: 50%;
      transition: background-color 0.2s;
      &:first-child { margin-right: 10px; }
      &:hover {
        cursor: pointer;
        background-color: rgba(255,255,255,0.07);
      }
    }
  }
}

.time-left {
  font-size: 14px;
  text-align: center;
}

.timer {
  text-align: center;
  > div { font-size: 14px; }

  .timer-control {
    margin: 0 auto;
    img {
      width: 20px;
      height: 20px;
      &.play-btn { width: 15px; }
    }
  }
}

.progress, .timer, .time-left, .toggle-completed {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(0,0,0, 0.1);
  border-radius: 5px;
}

@media (max-width: 1300px) {
  #tasks {
    > .task {
      width: calc(100%/3 - 30px);
    }
  }
}

@media (max-width: 1000px) {
  #tasks {
    > .task {
      width: calc(50% - 30px);
    }
  }
}