#tasks {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: calc(100vh - 395px);
  overflow-y: scroll;
  border-radius: 5px;
  background-color: var(--theme-2);

  &::-webkit-scrollbar { width: 7px; }
  &::-webkit-scrollbar-thumb {
    background-color: $grey-0;
    border-radius: 7px;
  }

  > .task {
    border-radius: 5px;
    width: calc(25% - 30px);
    height: 200px;
    margin: 15px;
    background-color: var(--theme-4);
    box-shadow: 0 4px 10px $light-green-4;
    position: relative;
  }
}

.drag-handle {
  height: 30px;
  border-radius: 5px 5px 0 0;
  padding-top: 10px;
  > i {
    margin-left: 15px;
    &:hover { cursor: grab; }
  }
}

.todo-title {
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
}

.todo-description {
  text-align: center;
}

#complete-delete {
  > #toggle-completed > img {
    height: 30px; width: 30px;
    position: absolute;
    bottom: 10px;
    left: 10px;

    &:hover { cursor: pointer; }
  }
}

.delete-task {
  position: absolute;
  top: 0; right: 0;
  font-size: 18px;
  height: 25px; width: 25px;
  line-height: 25px;

  &:hover {
    cursor: pointer;
    color: $dark-grey-4;
  }
}

.progress {
  width: 100px;
  margin: 0 auto;
  font-size: 16px;
  > .counter > button {
    font-size: 16px;
  }
}

// .time-passed {

// }