.exit {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 5px;
  width: 20px;
  height: 20px;
  font-size: 15px;
  color: $grey-1;
  line-height: 20px;
  text-align: center;
  border: 1px solid $light-grey-5;
  border-radius: 50%;
  transition: all 0.1s;

  &:hover {
    cursor: pointer;
    color: $grey-2;
    border-color: $grey-1;
    box-shadow: 0px 0px 5px $light-grey-4;
  }
}

#user-settings {
  box-sizing: border-box;
  position: fixed;
  top: 0; left: 0; right: 0;
  min-width: 1100px;
  height: 100vh;
  z-index: 50;
  animation: float-out 0.2s;
  
  #users-settings-background { 
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 100%;
    background-image: linear-gradient(to bottom right, var(--theme-1), white);
  }

  #user-settings-nav {
    position: absolute;
    top: 5vh; left: 5vh; right: 70%; bottom: 5vh;
    box-sizing: border-box;
    height: calc(100vh - 10vh);
    padding: 100px 0px;
    background: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    > li {
      padding: 3px 50px;
      min-width: 100px;
      margin-bottom: 7px;
      font-size: 12px;
      letter-spacing: 1px;
      color: $dark-grey-2;
      transition: color 0.2s;
      &.selected { color: $grey-1 }
      &:hover:not(.selected) { cursor: pointer; color: $grey-2; }

      &:last-child { color: $red; }
      &:last-child:hover { color: $dark-red; }
    }
  }

  #user-settings-content {
    position: absolute;
    top: 5vh; left: 30%; right: 5vh; bottom: 5vh;
    box-sizing: border-box;
    height: calc(100vh - 10vh);
    padding: 50px;
    padding-left: 100px;
    background: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    &::before {
      content: "";
      position: absolute;
      top: 0; left: 3px; right: 0;
      height: 20vh;
      background-image: linear-gradient(to top right, whitesmoke, white);
      border-bottom-left-radius: 50px;
      border-top-right-radius: 50px;
    }

    > * { position: absolute; }
  }
}

.user-settings-form {
  display: flex;
  flex-direction: column;
  top: 100px; left: 100px; right: 50px;
  width: 450px;
  padding: 20px 40px;

  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px $light-grey-3;
  animation: fade-in 0.2s;

  > label {
    font-size: 12px;
    color: $dark-grey-2;
    letter-spacing: 1px;
    margin: 15px 0px 3px;
  }

  > input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    border: 1px solid $light-grey-2;
    border-radius: 3px;
    transition: border-color 0.2s;

    &:focus { border-color: $dark-grey-1; }
  }
  
  > .form-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: -40px; bottom: -20px;
    width: 100%;
    margin-top: 20px;
    padding: 20px 40px;
    background-color: $light-grey-0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    
    > p {
      font-size: 12px;
      color: $dark-grey-2;

      &:hover {
        cursor: pointer;
        padding-top: 2px;
        padding-bottom: 1px;
        border-bottom: 1px solid $dark-grey-2;
      }
    }

    > button {
      background-color: var(--theme-1);
      &:hover { background-color: var(--theme-2); }
    }
  }
}

#log-out-form {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  color: $dark-grey-1;
  box-shadow: none;
  z-index: 101;
  animation: fade-in 0.2s;

  > h2 {
    margin: 15px 0px 15px;
    font-family: $primary-font;
    font-size: 18px;
  }
  > p {
    margin-bottom: -10px;
    font-size: 10px;
    letter-spacing: 0.6px;
    color: $dark-grey-1;
  }
}

#palettes {
  display: flex;
  flex-direction: column;
  
  > .palette-row {
    padding: 3px;

    &:hover, &.selected {
        cursor: pointer;
        background-color: $light-grey-0;
        border-radius: 5px;
      }
    &.selected, &.selected * { cursor: default; }

    &:first-child { margin-top: 30px;}

    > .palette-name {
      position: absolute;
      width: 100px;
      text-align: right;
      margin-top: 13px;
      margin-left: -20px;
      margin-bottom: -30px;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 1px;
      color: $dark-grey-1;
    }

    > .palette {
      display: flex;
      justify-content: flex-end;
      margin-top: 3px;
    }
  }
}